@import url(fonts.css);

html {
  --body-teen-background-fallback: #FBC8D4;
  --body-teen-background-deg: 360deg;
  --body-teen-background-gradient-1: #9795F0;
  --body-teen-background-gradient-1-stop: 0%;
  --body-teen-background-gradient-2: #FBC8D4;
  --body-teen-background-gradient-2-stop: 88.5%;

  --main-font: "Poppins", sans-serif;
  --main-font-weight: 400;
  --main-font-style: normal;

  --heading-font: "Pacifico", cursive;
  --heading-weight: 400;
  --heading-font-style: normal;

  --main-container-everlasting-fallback: #FDFCFB;
  --main-container-everlasting-deg: 119.06deg;
  --main-container-everlasting-grdient-1: #FDFCFB;
  --main-container-everlasting-grdient-1-stop: 0%;
  --main-container-everlasting-grdient-2: #E2D1C3;
  --main-container-everlasting-grdient-2-stop: 100%;
  
  --main-container-box-shadow: 8px 12px 2px rgba(0, 0, 0, 0.25);
  --main-container-mobile-box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
  --main-container-inset: 0px 4px 4px #FFB2A8;
  --main-container-border-radius: 200px 40px 40px 40px;
  --main-container-mobile-border-radius: 80px 20px 20px 20px;

  --header-color: #000000;
  --question-color: #000000;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--body-teen-background-fallback, #FBC8D4);
  background: linear-gradient(
    var(--body-teen-background-deg, 360deg),
    var(--body-teen-background-gradient-1, #9795F0) var(--body-teen-background-gradient-1-stop, 0%),
    var(--body-teen-background-gradient-2, #FBC8D4) var(--body-teen-background-gradient-2-stop, 88.5%) 
  );
  height: 100vh;

  font-family: var(--main-font, "Poppins", sans-serif);
  font-weight: var(--main-font-weight, 400);
  font-style: var(--main-font-style, normal);

  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  background: var(--main-container-everlasting-fallback, #FDFCFB);
  background: linear-gradient(
    var(--main-container-everlasting-deg, 119.06deg), 
    var(--main-container-everlasting-grdient-1, #FDFCFB) var(--main-container-everlasting-grdient-1-stop, 0%), 
    var(--main-container-everlasting-grdient-2, #E2D1C3) var(--main-container-everlasting-grdient-2-stop, 100%)
  );
}

#header {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  text-align: center;

  color: var(--header-color, #000000);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  flex: none;
  flex-grow: 0;

}

#question {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: var(--question-color, #000000);
  text-align: center;
  flex: none;
}

#message {
  font-family: 'Poppins';
  font-style: italic;
  text-align: center;
  flex: none;
  flex-grow: 0;
}

#next-btn {
  flex: none;
  flex-grow: 0;
}

#section-pagination {
  flex: none;
  flex-grow: 0;
}