html {
  --header-font-size: 34px;
  --header-line-height: 44px;

  --question-font-size: 20px;
  --question-height: 30px;
  --question-font-weight: 350;

  --message-font-size: 20px;
  --message-line-height: 28px;
  --message-font-weight: 700;

  --next-btn-font-size: 20px;
  --next-btn-font-weight: 600;
  --next-btn-line-height: 28px;
}

#main-container {
  width: 346px;
  height: 720px;
  padding: 10px 60px;

  box-shadow: var(--main-container-mobile-box-shadow, 8px 8px 2px rgba(0, 0, 0, 0.25)), inset var(--main-container-inset, 0px 4px 4px #FFB2A8);
  border-radius: var(--main-container-mobile-border-radius, 80px 20px 20px 20px);

  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 4px;
}

#section-q-and-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 30px;
  gap: 10px;

  width: 316px;
  height: 648px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}

#section-q-and-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 30px;
  gap: 10px;

  /*width: 316px;
  height: 648px;*/

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}

#header {
  order: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: var(--header-font-size, 34px);
  line-height: var(--header-line-height, 44px);
}

#question {
  order: 1;
  width: 284px;
  font-size: var(--question-font-size, 20px);
  line-height: var(--question-height, 30px);
  font-weight: 350;
  display: flex;
  align-items: center;
  flex-grow: 0;
}

#section-pagination {
  order: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 4px;
  gap: 6px;

  width: 74px;
  height: 18px;
}

#message {
  order: 2;
  width: 316px;
  height: 28px;
  font-size: var(--message-font-size, 20px);
  line-height: var(--message-line-height, 28px);
  font-weight: var(--message-font-weight, 700);
  align-self: stretch;
}

#section-next-btn {
  order: 5;
  width: 316px;
  height: 46px;
}

#section-next-btn #next-btn {
  /*position: absolute;
  left: 0px;
  top: 590px;*/

  font-size: var(--next-btn-font-size, 20px);
  font-weight: var(--next-btn-font-weight, 600);
  line-height: var(--next-btn-line-height, 28px);
}

#section-separator {
  display: none;
}

#section-answers {
  order: 3;
}

#section-footer {
  order: 6;
}