html {
  --header-font-size: 48px;
  --header-line-height: 62px;

  --question-font-size: 22px;
  --question-line-height: 33px;

  --messgae-font-size: 22px;
  --messgae-line-height: 28px;
  --messgae-font-weight: 700;

  --next-btn-font-size: 22px;
  --next-btn-font-weight: 600;
  --next-btn-line-height: 28px;
}

#main-container {
  width: 762px;
  height: 684px;
  padding: 55px 60px 10px;

  box-shadow: var(--main-container-box-shadow, 8px 12px 2px rgba(0, 0, 0, 0.25)), inset var(--main-container-inset, 0px 4px 4px #FFB2A8);
  border-radius: var(--main-container-border-radius, 200px 40px 40px 40px);

  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-q-and-a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 35px;

  width: 642px;
  height: 511px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  order: 0;
}

#section-q-and-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 25px;

  width: 316px;
  height: 511px;

  /* Inside auto layout */
  flex: none;
  align-self: stretch;
  flex-grow: 1;
}

#header {
  font-size: var(--header-font-size, 48px);
  line-height: var(--header-line-height, 62px);
  /* or 129% */
}

#question {
  width: 284px;
  /*height: 185px;*/
  font-size: var(--question-font-size, 22px);
  line-height: var(--question-line-height, 33px);
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#section-pagination {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 6px;

  width: 74px;
  height: 14px;
}

#message {
  width: 316px;
  height: 28px;
  font-size: var(--messgae-font-size, 22px);
  line-height: var(--messgae-line-height, 28px);
  font-weight: var(--messgae-font-weight, 700);
  /*color: #287E1C;*/
}

#section-separator {
  /* section-separator */
  width: 0px;
  height: 511px;
  border: 1px solid #CDB4DB;
  /* Inside auto layout */
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

#section-next-btn {
  width: 316px;
  height: 60px;
  flex: none;
  flex-grow: 0;
}

#section-next-btn #next-btn {
  font-size: var(--next-btn-font-size, 22px);
  font-weight: var(--next-btn-font-weight, 600);
  line-height: var(--next-btn-line-height, 28px);
}

#section-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;

  width: 256px;
  height: 511px;

  /* Inside auto layout */
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

#section-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 97.73px;
  height: 66px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}